{% extends "layout.html" %}
{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/story.jpg">
    </a>
    <h1>100 Short Stories</h1>
    <p>Tales of imagination and wonder.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Short story excerpt one</h3>
      <ul>
        <p> She considered many of the birds to be her friends. She'd put out food for them each morning and then she'd watch as they came to the feeders to gorge themselves for the day. She wondered what they would do if something ever happened to her. Would they miss the meals she provided if she failed to put out the food one morning? <p>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Short story excerpt two</h3>
      <ul>
        <p> He was an expert but not in a discipline that anyone could fully appreciate. He knew how to hold the cone just right so that the soft server ice-cream fell into it at the precise angle to form a perfect cone each and every time. It had taken years to perfect and he could now do it without even putting any thought behind it. Nobody seemed to fully understand the beauty of this accomplishment except for the new worker who watched in amazement. <p>
      </ul>
    </div>
  </div> <!-- row -->
</div>

{% endblock %}
